body {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #1a1a1a;
    background-color: #e5e5e5;
}


/** HEADER **/

#header-nav {
    background-color: #000000;
    border-radius: 0;
    border: 0;
}

#header-nav button {
    margin-top: 22px;
}


.navbar-collapse {
    border-top: 0;
}

.navbar-brand, .navbar-nav li a {
    line-height: 76px;
    height: 76px;
    padding-top: 0;
}

.navbar-brand h1 {
    color: #ffffff;
    font-family: 'Abril Fatface', cursive;
    font-weight: bolder;
    font-size: 1.8em;
}

.navbar-brand a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px #ffffff;
}

#nav-list {
    background-color: skyblue;
}

#nav-list a {
    font-weight: bolder;
    color: #282828;
    font-size: 1.2em;
}

#nav-list a:hover {
    color: #202020;
    background-color: #ffffff;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #ffffff;
}


/** END HEADER */


/** HOME PAGE **/

#main-content {
    width: 92%;
    margin-bottom: 40px;
    color: #ffffff;
}

#main-content h2 {
    font-size: 2.9em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #000000;
}

#main-content h3 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1em;
    color: #ffffff;
}

#main-section {
    background-color: #175ace;
    box-shadow: 0 0 50px #000000;
    padding: 30px;
}

/** END HOME PAGE **/
